# --- MariaDB Credentials ---
# IMPORTANT: Change these values to strong, secure, and unique passwords.

# Root user password for the MariaDB service
DB_ROOT_PASS= [add master key]

# Name of the default database to be created
DB_NAME= [add db name]

# Credentials for a regular application user
DB_USER= [add db user]
DB_PASS= [add db password]

